{{ if .Site.Params.three.enable }}
{{ $md := .Params.body_is_markdown | default "false" }}
<section id="three" class="wrapper alt style3">
  <h3 style="color:white; margin:10px; padding-left:8em; padding-top:3em">About</h3>
  {{ range .Site.Params.three.section }}
  <section class="aboutme">
   <div class="image">
     <img class="lozad" data-src="{{ .img | relURL }}" alt="" />
   </div>
   <div class="content">
     <h2>{{ .title | safeHTML }}</h2>
     {{ if $md }}
     {{ .body | markdownify }}
     {{ else }}
     <p>{{ .body | safeHTML }}</p>
     {{ end }}
     </div>
   </section>
      {{ end }}
		</div>
	</section>
  {{ end }}

